.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background: #f9f9f9;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo p {
    color: #383838;
    font-size: 24px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 25px;
    color: #252525;
    font-size: 14px;
    font-weight: 500;
}

.footer-links li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer-links li:hover {
    color: #ff4141;
}

.footer-social-icon {
    display: flex;
    gap: 10px;
}

.footer-icons-container {
    padding: 8px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease;
}

.footer-icons-container:hover {
    background: #f0f0f0;
    border-color: #d6d6d6;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    color: #1a1a1a;
    font-size: 12px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #c7c7c7;
}

@media (max-width: 768px) {
    .footer-links {
        gap: 15px;
        font-size: 12px;
    }

    .footer-logo p {
        font-size: 18px;
    }

    .footer-social-icon {
        gap: 8px;
    }

    .footer-icons-container {
        padding: 6px;
    }

    .footer-copyright {
        font-size: 10px;
    }
}
